# --- System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Python ---
venv/
env/
.venv/
__pycache__/
*.pyc

# --- Node.js / Frontend ---
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# --- Security ---
.env

# --- Dataset ---
ai-model/dataset/
ai-model/dataset.zip
test-data/
test/
