.DS_Store
Thumbs.db
.vscode/
.idea/

venv/
env/
.venv/

__pycache__/
*.pyc

node_modules/
npm-debug.log
yarn-error.log

dist/
build/

ai-model/dataset/
ai-model/tb_model.h5
test-data/
ai-model/dataset.zip
ai-model/tb_model_light.h5
ai-model/minimize-model.py

backend/tb_model.h5
test/
.env